.container{
  height: 100px;
  padding: 0px 50px;
  background-color: rgb(243, 249, 252);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* this is the african logo */
.item{
  flex: 1;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 75px;
}

.item:nth-child(2){
  flex: 3;
}

.item:last-child{
  justify-content: flex-end;
}

.callButton{
  border-radius: 0%;
  padding: 10px;
  width: 120px;
  height: 110px;
}

.texts{
  margin-left: -2rem;
  color: rgb(48, 11, 11);
}

.text:first-child{
  font-size: 12px;
  font-weight: 50;
}

.text:last-child{
  font-size: 20px;
  font-weight: bold;
}

.list{
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: rgb(0, 0, 0);
  width: -667665px;
}

.listItem{
  margin: 80px;
  font-weight: 500;
}

.cart{
  position: relative;
}

.counter{
  position: absolute;
  top: -10px;
  right: -1px;
  width: 20px;
  left: 115px;
  height: -20px;
  border-radius: 50%;
  /* background-color: rgb(114, 12, 12); */
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

@media screen and (max-width:480px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }
}